import { VFC } from 'react'
import { {{pascalCase name}}Props } from './interfaces'
import * as S from './styles'

const {{pascalCase name}}: VFC<{{pascalCase name}}Props> = () => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
